
.container{
  width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto  ; 
  grid-template-areas: 
  "col-1 col-2";
  gap: 20px;
}

.col-1{
    grid-template-areas: col1;
  
    width: 100%;
}
.col-2{
    grid-template-areas: col2;
    width: 100%;
}
.input{

    width: 100%;
}

 .title__color{
  color: rgb(255, 255, 255);
}






