<div class="container">
    <div class="container__titulo">
        <p class="container__titulo">Accesos Rapidos</p>
    </div>
    <ul class="container__list">
        <li class="list__item">
            <a>
                <span class="material-icons">star</span>
                <span class="line">Nuevo</span>
                <span class="line">Cliente</span>
            </a>
        </li>
        <li class="list__item">
            <a>
                <span class="material-icons">star</span>
                <p class="line">Nuevo</p>
                <p class="line">Proveedor</p>
            </a>
        </li>
        <li class="list__item">
            <a>
                <span class="material-icons">star</span>
                <span class="line">Nuevo</span>
                <span class="line">Producto</span>
            </a>
        </li>
        <li class="list__item">
            <a>
                <span class="material-icons">star</span>
                <span class="line">Nueva</span>
                <span class="line">Venta</span>
            </a>
        </li>

    </ul>
</div>