<div class="container">
<form [formGroup]="formGroup">
<h2 mat-dialog-title>{{ data.tipo === 'createCategory' ? 'Crear Nueva Categoria' : 'Actualizar Categoria' }}</h2>
{{ data.tipo}}
    <mat-dialog-content>
<!--     <mat-form-field>
        <input matInput class="input__text" formControlName="nameCategory" name="nameCategory" placeholder="Nombre de la Categoria">
    </mat-form-field> -->
<!-- 
<mat-form-field>
    <input matInput class="input__text" formControlName="descriptionCategory" name="descriptionCategory" placeholder="NDescripcion">
</mat-form-field> -->

<div class="container__text">
<input type="text" class="input__text"  formControlName="nameCategory" name="nameCategory" placeholder="Nombre de la Categoria">
<input type="text"class="input__text" formControlName="descriptionCategory" name="descriptionCategory" placeholder="NDescripcion">
</div>



    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button  class="warn" (click)="cancel()">Cancelar</button>
     @if (data.tipo =='createCategory') {
       <button mat-raised-button  cdkFocusInitial color="primary" (click)="save()">Guardar</button>
     } 
     @else{
         <button mat-raised-button cdkFocusInitial color="primary" (click)="update()">modificar</button>
     }
    
    
    </mat-dialog-actions>

</form>



</div>
