


.container {
  width: 550px;
  background-color:#fffefc;
  justify-content: center;
}

.form-group{
  display: flex;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;

}

.input{
  margin: 10px ;
}

